<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.weibao.mapper.AgencyCompanyMapper">
  <resultMap id="BaseResultMap" type="com.github.weibao.model.AgencyCompany">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="company_Id" jdbcType="INTEGER" property="companyId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_type" jdbcType="CHAR" property="companyType" />
    <result column="company_scale" jdbcType="INTEGER" property="companyScale" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="law_person" jdbcType="VARCHAR" property="lawPerson" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="account_Id" jdbcType="INTEGER" property="accountId" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
  </resultMap>



</mapper>